extend ../common/base

block append page-stylesheets
    link(href="/static/stylesheets/about.css", rel="stylesheet")

block page-content
    if localText.info.lang === 'en'
        div: include ../locales/about.en.md
    else
        div: include ../locales/about.tw.md
