extend ../common/base

block prepend page-title
    | #{locale.get('pageTitle.jobs')} |&nbsp;

block append page-stylesheets
    link(href="/static/stylesheets/jobs.css", rel="stylesheet")

block page-content
    section#main-content.container
        div.row: div.col-xs-12
            div.page-header
                h1 #{locale.get('pageTitle.jobs')}
        div.row: div.col-xs-12
            if locale.locale === 'en'
                include:markdown ../locales/jobs.en.md
            else if locale.locale === 'tw'
                include:markdown ../locales/jobs.tw.md
