mixin navigation-links
    li: a(href=locale.localizedPath('/apps'))= locale.get('navigation.apps')
    li: a(href=locale.localizedPath('/jobs'))= locale.get('navigation.jobs')
    li: a(href=locale.localizedPath('/about'))= locale.get('navigation.about')
    li: a(href=locale.get('navigation.anotherLang.1'))= locale.get('navigation.anotherLang.0')
